In [1]:
import pandas as pd

In [2]:
data = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]

In [3]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
list('321')

['3', '2', '1']

In [5]:
df = pd.DataFrame(data,list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [8]:
df.sort_index(inplace=True, axis= 1)

In [9]:
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [10]:
df.sort_values(by='x', inplace=True)

In [11]:
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7