In [1]:
import pandas as pd

In [2]:
s=pd.Series(list('asdeasdeasdesdasdesasde'))
s

0     a
1     s
2     d
3     e
4     a
5     s
6     d
7     e
8     a
9     s
10    d
11    e
12    s
13    d
14    a
15    s
16    d
17    e
18    s
19    a
20    s
21    d
22    e
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [4]:
s.value_counts()

s    7
d    6
a    5
e    5
dtype: int64

In [6]:
dados = pd.read_csv('aluguel.csv', sep= ';')
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64