In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 2.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pytz>=2020.1
  Using cached pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 1.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1
WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the '/home/willsantos/Documentos/Projeto_Pandas/venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in ./venv/lib/python3.9/site-packages (22.0.4)
Collecting pip
  Downloading pip-23.0-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 2.3 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.0.4
    Uninstalling pip-22.0.4:
      Successfully uninstalled pip-22.0.4
Successfully installed pip-23.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

# Series

In [5]:
data = [1, 2, 3, 4, 5]

In [11]:
s = pd.Series(data)

In [12]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
index = ['Linha' + str(i) for i in range(5)]

In [16]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [17]:
s = pd.Series(data, index)

In [18]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [19]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [20]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [21]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [22]:
s1 = s +2

In [23]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [24]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# DataFrame

In [25]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

In [26]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [27]:
df1 = pd.DataFrame(data=data)

In [28]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
index = ['Linha' + str(i) for i in range(3)]

In [30]:
index

['Linha0', 'Linha1', 'Linha2']

In [31]:
df1 = pd.DataFrame(data = data, index = index)

In [32]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [33]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [34]:
df1 = pd.DataFrame(data =data, index= index, columns= columns)

In [35]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [36]:
data = {'coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
       'coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
       'coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [37]:
data

{'coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [38]:
df2 = pd.DataFrame(data)

In [39]:
df2

        coluna0  coluna1  coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [50]:
data = [(1, 2, 3),
        (4, 5, 6),
        (7, 8, 9)]

In [60]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [61]:
df3 = pd.DataFrame(data =data, index= index, columns= columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9